<h1>Hello! Welcome to Cape Town!</h1>
	
<% @places.each do |place| %>
	
	<div>
		<!-- <strong><%= place.name %></strong> -->
		<strong><%= link_to place.name, place_path(place) %></strong>
		<p> <%= place.description %></p>
	</div>

	
	<% end %>
