<strong><h><%= @place.name %></h></strong>
<p><%= @place.description %></p>
<p>Located at:<%= @place.address %></p>

<p><%= link_to 'All Places', places_path %></p>   <!-- #it doesn't take params -->  
